* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    width: 100%;
    display: flex;
    column-gap: 12px;
    row-gap: 12px;

}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px;
    padding:12px;
    border: 1px solid #d1c9c9;
    row-gap: 12px;
    column-gap: 12px;

}
.approve {
    padding: 6px;
    background: #007500;
    color: white;
    border-radius: 8px;
    border: 1px solid #007500;
    cursor: pointer;
}
.cancelled {
    padding: 6px;
    background: red;
    color: white;
    border-radius: 8px;
    border: 1px solid red;
    cursor: pointer;
}